[submodule "shared"]
	path = odlib
	url = https://github.com/vasigavr1/Odyssey-lib.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/vasigavr1/Zookeeper.git
[submodule "odlib"]
	path = odlib
	url = https://github.com/vasigavr1/Odyssey-lib
[submodule "Derecho"]
	path = derecho
	url = git@github.com:vasigavr1/Derecho.git
[submodule "Hermes"]
	path = hermes
	url = git@github.com:vasigavr1/Od-Hermes.git
[submodule "cht"]
	path = cht
	url = git@github.com:vasigavr1/CHT.git
[submodule "craq"]
	path = craq
	url = git@github.com:vasigavr1/CRAQ
[submodule "kite"]
	path = kite
	url = git@github.com:vasigavr1/Kite.git
[submodule "paxos"]
	path = paxos
	url = git@github.com:vasigavr1/Paxos.git
