[submodule "shared"]
	path = odlib
	url = https://github.com/vasigavr1/Odyssey-lib.git
[submodule "kite"]
	path = kite
	url = https://github.com/vasigavr1/Kite.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/vasigavr1/Zookeeper.git
[submodule "odlib"]
	path = odlib
	url = https://github.com/vasigavr1/Odyssey-lib
